body {
    background-color: #DFE3D8;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerNaslov {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.containerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containerCovidPass {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


@media only screen and (max-width: 960px) {
    .containerInfo {
        flex-direction: column;
    }
}